/* Smoooth scrolling looks nicer */
html {
  scroll-behavior: smooth;
}

/* This creates aside bar fixed to the left of the page */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 6rem;
  padding: 2rem 1.5rem 1rem 1rem;
  background-color: #1d3d5c;
  /*z-index: 1050;*/
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* change color of selected pills */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #1fafc8 !important ;
}

.nav-link:hover {
  color: #1fafc8 !important ;
}



.nav-link:focus {
  color: #dee2e6 !important;
}

em{
  color: white ;
  font-style: normal;   
}

/* unvisited link */
a:link {
  color: #1fafc8  ;
  font-style: italic;   
}

/* visited link */
a:visited {
  color: #1fafc8  ;
  font-style: italic;   
}

/* hover link link */
a:hover {
  color: #1fafc8  !important;
  font-style: italic;
  text-decoration: underline !important;    
} 

h1 {
  color: white !important;
  text-align: center !important;
}

h2, h3 {
  color: #1fafc8  !important;
}
/* fix the width of the icons 
.sidebar .nav-link i {
  width: 1rem;
  margin: auto;
}
*/

/* hide the navlink labels by default 
.sidebar .nav-link span {
  visibility: hidden;
  opacity: 0;
  /*transition: opacity 0.1s ease-in-out;
}*/

/* when the sidebar is hovered, reveal the labels 
.sidebar:hover .nav-link span {
  visibility: visible;
  opacity: 1;
}
*/

/* container for the sidebar header. make sure the contents don't wrap when
 * the sidebar is collapsed.
 */
.sidebar-header .nav-link {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0.1rem;
}

/* position the header relative to the logo and hide by default */
.sidebar-header .nav-link h5 {
  opacity: 0;
  margin-left: 1rem;
  margin-bottom: 0;
  /*transition: opacity 0.1s ease-in-out;*/
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header .nav-link h5 {
  opacity: 1;
}

/* light blue color for brain  */
/* .icon-brain {
  color: #3a8bb6;
} */

/* container for the sidebar footbar. make sure the contents don't wrap when
 * the sidebar is collapsed. Keep bar at the lowest position.
 */
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;

  position: fixed;
  bottom: 0;
  padding-left: 0rem;
}

/* default settings for content */
#content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 6rem;
  height: 100%;
  overflow: hidden;
}


/* min/max size for graphs */
/*.dash-graph {
  /*min-width: 420px; */
/*min-height: 300px;*/
/*max-height: 90vh;*/
/*max-width: 90vw;*/
/*}*/
.dash-graph {
  max-height: 100vh;
}

/* To have backdrop invisible for drawer */
body > div.fade.offcanvas-backdrop.show {
  opacity: 0;
}

#content > div > div > div > div.mantine-Switch-root.mantine-16ttirm > label {
  /* color: #e9ecef; */
  margin-top: 0.16rem;
}

#page-3-controls > div:nth-child(1) > label {
  /* color: #e9ecef; */
  margin-top: 0.16rem;
}

#page-3-controls > div:nth-child(2) > label {
  /* color: #e9ecef; */
  margin-top: 0.16rem;
}

/* #page-1-toggle-annotations::before {
  background-color: rgb(65 154 181);
} */

#content
  > div
  > div
  > div.mantine-8od8ev
  > div
  > div:nth-child(3)
  > div
  > label {
  margin-top: 0.25rem;
}

#content
  > div:nth-child(1)
  > div
  > div.mantine-Switch-root.mantine-16ttirm
  > label {
  margin-top: 0.25rem;
}

.mantine-Text-root {
  color: #ced4da;
}

/* rounded corner for images (doesn't work)
.image {
  border-radius: 250px;
  border-top-left-radius: 50px;
}

#page-1-graph-slice-selection .main-svg {border-radius: 80px}
#page-1-graph-slice-selection > div.js-plotly-plot > div > div > svg:nth-child(1) > g.cartesianlayer > g > g.plot > g > g > image {
  border-radius: 50px;
  border-collapse: separate; 
  overflow: hidden;
  perspective: 1px;
  border-top-left-radius: 50px;
}
*/

/* rainbow color for home icon 
.rainbow_text_animated {
  background: linear-gradient(to right, #222222, #3a8bb6, rgba(80, 189, 218));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
*/

/* nicer slider */
/* .rc-slider-track {
  background-color: #1fafc8;
}

.rc-slider-dot-active {
  border-color: #1fafc8;
  border: solid 2px #1fafc8;
}

.rc-slider-handle {
  background-color: #1fafc8;
  border-color: #1fafc8;
  border: solid 2px #74bedb;
}

.rc-slider-handle-click-focused:focus {
  border-color: #74bedb;
}

.rc-slider-handle:hover {
  border-color: #1fafc8;
}

.rc-slider-handle-active:active {
  border-color: #1fafc8;
}

#page-1-slider-slice-selection {
  white-space: nowrap;
} */

/* correct color for dropdowns */

#page-3-dropdown-red .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-red > div > div {
  background-color: #2b2e33;
}

#page-3-dropdown-red .Select-control {
  border-color: rgba(223, 80, 52, 0.8);
}

#page-3-dropdown-red .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-green .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-green > div > div {
  background-color: #2b2e33;
}

#page-3-dropdown-green .Select-control {
  border-color: rgba(95, 169, 112, 0.8);
}

#page-3-dropdown-green .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-blue .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-blue > div > div {
  background-color: #2b2e33;
}

#page-3-dropdown-blue .Select-control {
  border-color: rgba(58, 139, 182, 0.8);
}

#page-3-dropdown-blue .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}

/* Style toasts */
.toast-header {
  border-bottom: 0px !important;
  /* padding: 1rem !important; */
  color: #ced4da !important;
  background-color: #2b2e33 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  /* margin: 1rem !important; */
}
div.toast-header > strong {
  margin-left: 3rem;
  margin-right: 3rem;
}

.btn-close {
  background: #ced4da;
}

/* shift modebar on graph */
#page-1-graph-slice-selection .js-plotly-plot .plotly .modebar {
  left: 68%;
  top: -0.3rem;
}

/* shift modebar on graph */
#page-2-graph-heatmap-mz-selection .js-plotly-plot .plotly .modebar {
  left: 65%;
  top: 0rem;
}

#page-2-graph-low-resolution-spectrum .js-plotly-plot .plotly .modebar {
  left: 62%;
  top: 3rem;
}

#page-2-graph-high-resolution-spectrum .js-plotly-plot .plotly .modebar {
  left: 55%;
  top: 3rem;
}

#page-3-graph-heatmap-per-sel .js-plotly-plot .plotly .modebar {
  left: 68%;
  top: 0rem;
}

#page-3-graph-spectrum-per-pixel .js-plotly-plot .plotly .modebar {
  left: 53%;
  top: 0.2rem;
}

#page-3-graph-heatmap-per-lipid .js-plotly-plot .plotly .modebar {
  left: 34%;
  top: 0rem;
}

/* dcc.Loading component with transparent background */
/* this defines a style for a Loading component with parent_className='loading-wrapper' */
.loading-wrapper > div {
  visibility: visible !important;
}

/* To fix the aspect ratio of the image graphs, images are initally a multiple 420*300 */
.page-1-fixed-aspect-ratio {
  position: relative;
  width: 100%;
  padding-bottom: min(
    72%,
    100vh
  ); /* when max-height = 80vh is reached, need to block stretching*/
  float: left;
  height: 0;
  /* max-width: 111vh;*/ /*80/72=11 */
}

.page-4-fixed-aspect-ratio {
  position: relative;
  width: 100%;
  padding-bottom: 72%;
  float: left;
  height: 0;
}

.fixed-aspect-ratio {
  position: relative;
  width: 100%;
  padding-bottom: 57.8%;
  float: left;
  height: 0;
}

/* To remove the header of the drawer */
#page-2-drawer-high-res-spectra > div.offcanvas-header {
  display: none;
}

#page-2-drawer-low-res-spectra > div.offcanvas-header {
  display: none;
}

#page-4-drawer-region-selection > div.offcanvas-header {
  display: none;
}

/* Remove drawer background */
#page-2-drawer-high-res-spectra {
  background-color: transparent;
  height: 400px;
}

#page-2-drawer-low-res-spectra {
  background-color: transparent;
  height: 400px;
}

/* To center main toast header */
#page-1-main-toast > div.toast-header > strong {
  margin: auto;
  color: #ffffff;
}

/* For styling all headers the same 
div.toast-header > strong {
  margin : auto;
  color: #ffffff;
}
*/
/* 
.toast-body {
  background-color: #757575;
}
*/

/* Make the close button white as well 
div.toast-header > button > span {
  color: #ffffff;
}
*/

/* Remove above style for lipid toasts */
#page-2-toast-lipid-1 > div.toast-header > strong,
#page-2-toast-lipid-2 > div.toast-header > strong,
#page-2-toast-lipid-3 > div.toast-header > strong {
  color: #222222;
}

#page-2-toast-lipid-1 > div.toast-header > button > span,
#page-2-toast-lipid-2 > div.toast-header > button > span,
#page-2-toast-lipid-3 > div.toast-header > button > span {
  color: #757575;
}

/* set slider height */
/* #main-slider {
  height: min(50vh, 30vw);
} */

/* customize dropdown 

.Select-control {
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #222;
  background-clip: padding-box;
  border: 1px solid #444;
  border-radius: 0.25rem;
  transition: border-color 0.95s ease-in-out, box-shadow 0.95s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .Select-control {
    transition: none;
  }
}

.Select-control:hover {
  box-shadow: none;
}

.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: #aaa;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.25);
}

.Select.is-disabled > .Select-control {
  background-color: #ebebeb;
}

.Select--multi .Select-value {
  border-radius: 0.125rem;
  color: #eee;
  border-color: rgba(200, 200, 200, 0.25);
  background-color: rgba(55, 55, 55, 0.1);
}

.Select--multi .Select-value-icon:hover {
    background-color: #333;
    color: #fff;
}

.Select--multi .Select-value-icon {
  border-right-color: rgba(55, 55, 55, 0.25);
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #444;
}

.Select-multi-value-wrapper {
  height: calc(1.5em + 0.75rem);
}

.Select-placeholder {
  color: #999;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.Select--single > .Select-control .Select-value,
.Select-placeholder {
  line-height: calc(1.5em + 0.75rem);
}

.Select-input {
  height: calc(1.5em + 0.75rem);
}

.Select-menu-outer {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: #222;
  background-clip: padding-box;
  border: 1px solid #444;
  border-top-color: transparent;
  box-shadow: none;
  color: #fff;
}

.VirtualizedSelectOption {
  height: calc(1.5em + 0.75rem) !important;
}

.VirtualizedSelectFocusedOption {
  background-color: rgba(55, 90, 127, 0.1) !important;
}

*/

.VirtualizedSelectFocusedOption {
  background-color: rgba(80, 189, 218, 0.5) !important;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: rgba(80, 189, 218, 0.5);
}

/* decrease vertical asymetry tabs  */
#page-1-card-tabs {
  padding-bottom: 0;
}

/* #main-paper-slider {
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  opacity: 0.25;
}

#main-paper-slider:hover {
  opacity: 1;
} */

#content
  > div:nth-child(1)
  > div
  > div.mantine-Switch-root.mantine-16ttirm
  > label {
  color: white;
}
/* at some point, replace this nasty hack by a dropdown in which you can select 1 value only
and print the selection next to the dropdown (unerasable, except with reset) 
div.Select-value > span.Select-value-icon {
  visibility: hidden;
}

*/

/* Improve react grid look */
div.item-top {
  transform: translate(0, 10px);
}
div.item-top {
  visibility: hidden;
}

div.item {
  background: #1d1c1f;
  /* box-shadow: 0px 10px 6px -1px rgb(30 44 57 / 15%); */
}

/* Button label remain readable even when disabled */
.mantine-Button-label {
  color: #ced4da;
}

div.item:focus,
div.item:active,
div.item.active,
div.item:focus:active {
  background-image: none;
  outline: none;
  /* -webkit-box-shadow: none; */
  /* box-shadow: 0px 10px 6px -1px rgb(30 44 57 / 15%); */
}

#page-4-dropdown-lipid-names-label {
  color: white;
}

#page-4-dropdown-lipid-structures-label {
  color: white;
}

#page-4-dropdown-lipid-cations-label {
  color: white;
}

/* Initial spinner at startup */

._dash-loading {
  margin: auto;
  color: transparent;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

._dash-loading::after {
  font-size: 60px;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  color: #000;
  border-radius: 50%;
  margin: 72px auto;
  vertical-align: text-bottom;
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  margin-top: 2rem;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
