bg-atlasapi==1.0.2
bg-space==0.6.0
Brotli==1.0.9
cachelib==0.9.0
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.1.3
commonmark==0.9.1
cycler==0.11.0
dash==2.5.1
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-draggable==0.1.2
dash-html-components==2.0.0
dash-mantine-components==0.10.2
dash-table==5.0.0
dill==0.3.5.1
diskcache==5.4.0
Flask==2.2.2
Flask-Caching==2.0.1
Flask-Compress==1.12
fonttools==4.37.1
future==0.18.2
gevent==21.12.0
greenlet==1.1.3
gunicorn==20.1.0
idna==3.3
imageio==2.21.2
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
llvmlite==0.39.1
MarkupSafe==2.1.1
matplotlib==3.5.3
meshio==5.3.4
multiprocess==0.70.13
networkx==2.8.6
numba==0.56.2
numpy==1.23.2
orjson==3.8.0
packaging==21.3
pandas==1.4.4
Pillow==9.2.0
plotly==5.10.0
psutil==5.9.2
Pygments==2.13.0
Pympler==1.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyWavelets==1.3.0
requests==2.28.1
rich==12.5.1
scikit-image==0.19.3
scipy==1.9.1
six==1.16.0
tenacity==8.0.1
tifffile==2022.8.12
treelib==1.6.1
ua-parser==0.16.1
urllib3==1.26.12
user-agents==2.2.0
visdcc==0.0.50
Werkzeug==2.2.2
zope.event==4.5.0
zope.interface==5.4.0
