/*===== GENERAL CHANGES =====*/

/* Smoooth scrolling looks nicer */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #1d1c1f;
}

/*===== TYPOGRAPHY =====*/

/* Highlight text in white for documentation */
em{
  color: white;
  font-style: normal;   
}

/* Unvisited link */
a:link {
  color: #1fafc8;
  font-style: italic;   
}

/* Visited link */
a:visited {
  color: #1fafc8;
  font-style: italic;   
}

/* Hover link */
a:hover {
  color: #1fafc8;
  font-style: italic;
  text-decoration: underline;    
} 

/* Title in white for documentation and main page */
h1 {
  color: white;
  text-align: center;
}

/* Subtitles in blue */
h2, h3 {
  color: #1fafc8;
}

/* Text and lists in dimmed white  */
p, li {
  color: rgb(221, 221, 221);
  text-align: justify;
  font-size: larger;
} 


/*===== APP SIDEBAR =====*/

/* Side bar fixed to the left of the page */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 6rem;
  /* padding: 2rem 1.5rem 1rem 1rem; */
  background-color: #1d3d5c;
}


/* Change color of selected pills */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #1fafc8;
}

/* Change color of hovered/focused pills */
.nav-link:hover {
  color: #1fafc8;
}
.nav-link:focus {
  color: #dee2e6;
}

/* Adjust main logo position */
.sidebar-header .nav-link {
  padding-left: 0.1rem;
} 

/* Adjust other icon position */
#sidebar-page-3{
  padding-right: 1.2rem;
}

/* Container for the sidebar footbar. Keep bar at the lowest position. */
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  padding-left: 0rem;
}

/*===== APP MAIN CONTENT =====*/

/* Main content takes full page with a margin for sidebar */
#content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 6rem;
  height: 100%;
  overflow: hidden;
}

/* Prevent graphs from exceeding page height */
.dash-graph {
  max-height: 100vh;
}

/* Fix white border on all cards */
.card {
  background-color: transparent;
}

/* To fix the aspect ratio of the image graphs, images are initally a multiple 420*300 */
.fixed-aspect-ratio {
  position: relative;
  width: 100%;
  padding-bottom: min(
    72%,
    100vh
  ); /* when max-height = 100vh is reached, need to block stretching*/
  float: left;
  height: 0;
}

/* Used to wrap dcc.Loading component with transparent background */
.loading-wrapper > div {
  visibility: visible !important;
}

/*===== MANTINE CORRECTIONS =====*/

/* Correct label position for Mantine Switch */
div.mantine-Switch-root.mantine-16ttirm > label {
  margin-top: 0.16rem;
}

/* Dimmer text */
.mantine-Text-root {
  color: #ced4da;
}

/* Button label remain readable even when disabled */
.mantine-Button-label {
  color: #ced4da;
}

/*===== COLORED DROPDOWNS =====*/

/* Create three color-themed dropdowns for page 3 */
#page-3-dropdown-red .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-red > div > div {
  background-color: #2b2e33;
}

#page-3-dropdown-red .Select-control {
  border-color: rgba(223, 80, 52, 0.8);
}

#page-3-dropdown-red .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-green .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-green > div > div {
  background-color: #2b2e33;
}

#page-3-dropdown-green .Select-control {
  border-color: rgba(95, 169, 112, 0.8);
}

#page-3-dropdown-green .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-blue .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-3-dropdown-blue > div > div {
  background-color: #2b2e33;
}

#page-3-dropdown-blue .Select-control {
  border-color: rgba(58, 139, 182, 0.8);
}

#page-3-dropdown-blue .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}


/* Create three color-themed dropdowns for page 5 */
#page-5-dropdown-red .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-5-dropdown-red > div > div {
  background-color: #2b2e33;
}

#page-5-dropdown-red .Select-control {
  border-color: rgba(223, 80, 52, 0.8);
}

#page-5-dropdown-red .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-5-dropdown-green .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-5-dropdown-green > div > div {
  background-color: #2b2e33;
}

#page-5-dropdown-green .Select-control {
  border-color: rgba(95, 169, 112, 0.8);
}

#page-5-dropdown-green .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-5-dropdown-blue .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-5-dropdown-blue > div > div {
  background-color: #2b2e33;
}

#page-5-dropdown-blue .Select-control {
  border-color: rgba(58, 139, 182, 0.8);
}

#page-5-dropdown-blue .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-5-dropdown-lipid .Select-value {
  background-color: #1a1b1e;
  color: #ced4da;
}

#page-5-dropdown-lipid > div > div {
  background-color: #2b2e33;
}

#page-5-dropdown-lipid .Select-control {
  border-color: rgba(246, 246, 246, 0.8);
}

#page-5-dropdown-lipid .Select-menu-outer {
  background-color: #1a1b1e;
  color: #ced4da;
}


/* #react-select-2--value-item, #react-select-3--value-item, #react-select-4--value-item, #react-select-5--value-item {
  color:antiquewhite;
} */

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
  color:antiquewhite;
}




/* Better color when Hovering over the dropdown selection menu */
.VirtualizedSelectFocusedOption {
  background-color: rgba(80, 189, 218, 0.5);
}
.is-focused:not(.is-open) > .Select-control {
  border-color: rgba(80, 189, 218, 0.5);
}


/*===== NICER TOASTS =====*/

/* Adapt toast color to dark theme */
.toast-header {
  border-bottom: 0px;
  color: #ced4da;
  background-color: #2b2e33;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /* margin: 1rem; */
}

/* Better centering */
div.toast-header > strong {
  margin-left: 3rem;
  margin-right: 3rem;
}


/*===== DRAWERS =====*/

/* Fix white border on page 2 for spectra */
.offcanvas-end {
  border-left-color: transparent;
}

/* Invisible backdrop for drawer */
body > div.fade.offcanvas-backdrop.show {
  opacity: 0;
}

/* Remove drawer header */
#page-2-drawer-high-res-spectra > div.offcanvas-header {
  display: none;
}

/* Same */
#page-2-drawer-low-res-spectra > div.offcanvas-header {
  display: none;
}

/* Same */
#page-4-drawer-region-selection > div.offcanvas-header {
  display: none;
}

/* Remove drawer background */
#page-2-drawer-high-res-spectra {
  background-color: transparent;
  height: 400px;
}

/* Same */
#page-2-drawer-low-res-spectra {
  background-color: transparent;
  height: 400px;
}

/*===== SMALL FIXES =====*/

/* Decrease vertical asymetry of the tabs  */
#page-1-card-tabs {
  padding-bottom: 0;
}


/* Fix bug slider above clustergram */
#page-4-slider-percentile {
  z-index: 10;
}

/*===== REACT GRID =====*/

/* Improve react grid look */
div.item-top {
  transform: translate(0, 10px);
}
div.item-top {
  visibility: hidden;
}

div.item {
  background: #1d1c1f;
  /* box-shadow: 0px 10px 6px -1px rgb(30 44 57 / 15%); */
}

div.item:focus,
div.item:active,
div.item.active,
div.item:focus:active {
  background-image: none;
  outline: none;
  /* -webkit-box-shadow: none; */
  /* box-shadow: 0px 10px 6px -1px rgb(30 44 57 / 15%); */
}

/*===== APP STARTUP =====*/

/* Initial spinner */

._dash-loading {
  margin: auto;
  color: transparent;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

._dash-loading::after {
  font-size: 60px;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  color: #000;
  border-radius: 50%;
  margin: 72px auto;
  vertical-align: text-bottom;
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  margin-top: 2rem;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
